<html>
    <head>  <link rel="stylesheet" href="{{ url_for('static', filename='ok2.css')}}">   
    <title>Chat Window</title>
  </head>
    <body>
        <div class="container">
        <div class="left">
          <div class="header">
            <h2>Respose</h2>
            <h4>{{messages}}</h4>
          </div>
          <div class="form">
            <form name="form", method="post", action="chat">
            <input name="position" class="form-field animation a3" value={{pos}}>
            <input name="query" class="form-field animation a4" placeholder="Query">
            <input type="submit" value="Submit" class="animation a6">
          </form>
          </div>
        </div>
        <div class="right"></div>
      </div>
        
    </body>
</html>